@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;500&family=Poppins:wght@300&family=Roboto+Condensed:ital,wght@0,100;0,600;1,300&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    scroll-behavior: smooth;
    color: rgba(0, 0, 0, .8);
    background-color: rgb(245, 245, 245);
    position: relative;
    font-family: 'Roboto', sans-serif !important;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

select,
option,
textarea,
input,
button {
    border: none;
    outline: none;
    color: rgb(101, 98, 98);
}

button {
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffff;
    font-family: 'Open Sans', sans-serif;

}